<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Template</title>
</head>
<body>
    <h1>Recipe Title</h1>

    <p><img src="LINKTOIMAGE" alt="DESCRIBE IMAGE"></p>
    <p><h3>Description</h3></p>
    <p>Type a description about the dish</p>
    <p><h2>Ingredients</h2></p>
    <p>You will need:</p>
    <ul>
        <li>first ingredient</li>
        <li>second ingredient</li>
        <li>third ingredient</li>
    </ul>
    <p><h2>Steps</h2></p>
    <p><ol>
        <li>step one</li>
        <li>step two</li>
        <li>step three</li>
    </ol></p>
</body>
</html>